body{
    background: rgb(0, 0, 0);
}

.calculadora {
    background: rgb(128,0,0);
    color: rgb(243, 243, 243);
    border-color: rgb(165,42,42);
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.calculadora input {
background:rgb(139,0,0);
color: rgb(255, 255, 255);
border-color: rgb(165,42,42);
border-style: groove;
border-radius: 9px;
padding: 5px;
}

.calculadora input:focus{
    background: rgb(165,42,42);
    color: rgb(255, 255, 255);
    border-color: rgb(165,42,42);
    border-style: double;
    border-radius: 9px;
}

#sptotal {
    background: rgb(178,34,34);
    color: rgb(255, 255, 255);
    border-style: groove;
    border-color: rgb(165,42,42);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 15px;
    
}

.calculadora button {
    background:rgb(189, 60, 0);
    margin-top: 10px;
    color: rgb(255, 255, 255);
    border-color: rgb(165,42,42);
    border-style: groove;
    border-radius: 9px;
    padding: 5px;
    }

    .calculadora button:hover {
        background:rgb(189, 22, 0);
        margin-top: 10px;
        color: rgb(255, 255, 255);
        border-color: rgb(165,42,42);
        border-style: groove;
        border-radius: 6px;
        padding: 2px;
        cursor: pointer;
        }

#spListaMeses {
    text-align: start;
    border-color: rgb(175, 64, 0);
    border-style: groove;
    border-width: 1px;
    color: azure;
    background: rgb(220,20,60);
    
}
                            
